<div style="background-color: black; height: 2rem">
    <h4 class="d-flex justify-content-center text-light" style="background-color: black;">FILMES</h4>
</div>
<div class="container text-center">
    <div class="row row-cols-4">
        {{#each movies}}
            <div class="card col mt-3" style="width: 18rem; margin-left: 1rem; background-color: rgb(91, 17, 102); border-color: rgb(78, 16, 87);">
                <img src="{{wallpaper}}" class="card-img-top" alt="..." height="400px">
                <h4 class="text-light mt-2">{{name}}</h4>
                <hr style="color: black;">
                <div class="card-body">
                    <p class="card-text text-light" style="overflow: hidden; height: 20ch;">{{synopsis}}</p>
                </div>
                <hr>
                    <div class="row row-cols-3 justify-content-center">
                        <a  href="/admin/edit/movie/{{_id}}"><button type="submit" class="btn btn-success col">Editar</button></a>
                        <a  href="/admin/delete/movie/{{_id}}"><button type="submit" class="btn btn-danger col">Excluir</button></a>
                    </div>
                <br>
            </div>
        {{else}}
            <h5>Nenhuma postagem</h5>
        {{/each}}
    </div>
</div>
